<%- include("partials/header") %> 

<div class="container-fluid">
    <div class="container">
        <div class="head">
            <h1><%= associations[0].playerName %></h1>
        </div>
        <div class="player-content">
            <div class="row">
                <div class="col-lg-3">
                    <h5>Idade</h5>
                    <p><%= associations[0].age %></p>
                </div>
                <div class="col-lg-3">
                    <h5>Gênero</h5>
                    <p><%= associations[0].gender %></p>
                </div>
                <div class="col-lg-3">
                    <h5>Posição Principal</h5>
                    <p><%= associations[0].gamePosition %></p>
                </div>
                <div class="col-lg-3">
                    <h5>Nível do atleta</h5>
                    <p><%= associations[0].playerLevel %></p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <h5>Telefone</h5>
                    <p><%= associations[0].phone %></p>
                </div>
                <div class="col-lg-3">
                    <h5>E-Mail</h5>
                    <p><%= associations[0].email %></p>
                </div>
            </div>
        </div>

        <div class="player-actions">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#relacionamentoEquipeAtletaModal" id="playerTeamBtn">Relacionamento Equipe vs Atleta</button>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="relacionamentoEquipeAtletaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Equipes</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/adm/atletas/playerdesc/<%= associations._id %>" method="post">
                    <div class="modal-body">
                        <input type="text" value="<%= associations.id %>" name="playerId" hidden>
                        <table>
                            <thead>
                                <tr>
                                    <th>Unidade</th>
                                    <th>Associar ao Atleta</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% teams.forEach(function(team) { %>
                                    <tr>
                                        <td><%= team.teamName %></td>
                                        <td class="center">
                                            <input type="checkbox" name="teamCheckboxes" value="<%= team.id %>">
                                        </td>
                                    </tr>
                                <% }) %>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="table-records">
            <table>
                <thead>
                    <tr>
                        <th>Equipes do Atleta</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Problema: aqui está buscando pelo id do player, logo está apresentando somente um registro pq só tem um player. -->
                    <% for(let i = 0; i < associations[0].Teams.length; i ++) { %>
                        <%if(associations[0].Teams[i].TeamPlayerAssociation.destroyTime == null){ %>
                            <tr>
                                <td><%= associations[0].Teams[i].teamName%></td>
                                <td>
                                    <form action="/adm/atletas/playerdesc/deletePlayerAssociation" method="post">
                                        <input type="text" name="playerId" value="<%= associations[0].id %>" hidden>
                                        <button class="btn btn-outline-dark" type="submit" name="deleteAssociation" id="deleteAssociation" value="<%= associations[0].Teams[i].TeamPlayerAssociation.id %>"><i class="fas fa-trash-alt"></i></button>
                                    </form>
                                </td>
                            </tr>
                        <% } %>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<%- include("partials/footer") %> 