<%- include("partials/header") %> 


<div class="container-fluid">
    <div class="container">
        <div class="page-start">

            <h1>Equipes</h1>
            <!-- <form action="/equipes" method="post">
                <div class="filter-div">
                    <div class="row">
                        <div class="col-lg-3">
                            <label for="Id">ID da Equipe</label><br>
                            <input type="text">
                        </div>
                        <div class="col-lg-3">
                            <label for="Name">Nome da equipe</label><br>
                            <input type="text" id="ftrTeamName">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <br>
                            <input type="submit" value="Filtrar">
                        </div>
                    </div>
                </div>
                
            </form> -->
        </div>

        <div class="actions">
            <!--Modal Adicionar Equipe button-->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#adicionarEquipe" id="addTeam">Adicionar Equipe</button>
        </div>

        <!--Modal Adicionar Equipe-->
        <div class="modal fade" id="adicionarEquipe" name="adicionarEquipe" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="modalTitle">Adicionar Equipe</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/adm/equipes" method="post" id="formEquipes" name="formEquipes">
                    <div class="modal-body team-input-modal">
                        <label for="">Nome da Equipe *</label>
                        <input type="text" name="teamName" id="teamName">
                        <br>
                        <label for="">Nome do clube *</label>
                        <input type="text" name="clubName" id="clubName">
                        <br>
                        <label for="teamType">Tipo da Equipe</label>
                        <select name="teamType" id="teamType">
                            <option value="misto">Misto</option>
                            <option value="fem">Feminino</option>
                            <option value="masc">Masculino</option>
                        </select>
                        <br>
                        <label for="">Endereço</label>
                        <input type="text" name="address" id="address">
                        <br>
                        <label for="">Data do Treino</label>
                        <select name="trainingWeekDay" id="weekDays">
                            <option value="Domingo">Domingo</option>
                            <option value="Segunda-Feira">Segunda-Feira</option>
                            <option value="Terça-Feira">Terça-Feira</option>
                            <option value="Quarta-Feira">Quarta-Feira</option>
                            <option value="Quinta-Feira">Quinta-Feira</option>
                            <option value="Sexta-Feira">Sexta-Feira</option>
                            <option value="Sábado">Sábado</option>
                        </select><br>
                        <label for="">Horário do Treino</label>
                        <input type="text" name="trainingTime" id="trainingTime">
                        <br>
                        <!-- <div class="form-check form-switch">
                            <label class="form-check-label" for="flexSwitchCheckChecked">Ativo</label>
                            <input class="form-check-input" type="checkbox" role="switch" name="activeStatus" id="flexSwitchCheckChecked" checked>
                        </div> -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Salvar" id="btnSalvar">
                    </div>
                </form>
              </div>
            </div>
        </div>
        
        <div class="table-records">
            <table>
                <thead>
                    <tr>
                        <!-- <th>ID</th> -->
                        <th>Nome da Equipe</th>
                        <th>Nome do Clube</th>
                        <th>Endereço</th>
                        <th>Data do Treino</th>
                        <th>Horário</th>
                        <th>Equipe Ativa?</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <% items.forEach((item) => { %>
                        <tr>
                            <!-- <td></td> -->
                            <td><%= item.teamName %></td>
                            <td><%= item.clubName %></td>
                            <td><%= item.address %></td>
                            <td><%= item.trainingWeekDay %></td>
                            <td><%= item.trainingTime %></td>
                            <td><%= item.activeStatus %></td>
                            <td class="table-item">
                                <form action="/adm/equipes/delete" method="post">
                                    <button class="btn btn-outline-dark" type="submit" name="deleteItem" id="btnDeleteItem" value="<%- item._id %>"><i class="fas fa-trash-alt"></i></button>
                                </form>
                            </td>
                        </tr>    
                    <% }); %> 
                </tbody>
            </table>  
        </div>
       
    </div>
     
</div>
<script src="/js/equipes.js"></script>
<%- include("partials/footer") -%>